@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background: #030014 url('assets/body-bg-1.webp');
    background-size: cover;
    margin: 0;
    color: #fff;
}

header {
    padding: 50px 0 0;
    text-align: center;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

.leadspace {
    text-align: center;
    color: #fff;
}

.leadspace figure {
    max-width: 470px;
    margin: 0 auto;
}

.leadspace h1 {
    font-size: 56px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.leadspace h1 span {
    color: #D6C7FF;
}

.search-bar {
    max-width: 745px;
    margin: 0 auto;
    margin-top: -80px;
}

form {
    max-width: 640px;
    margin: 0 auto;
}

.form-control {
    background: #0F0D23;
    width: 100%;
    padding: 20px 20px;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    color: #ffffff;
}

.form-control::placeholder {
    color: #A8B5DB;
}

.section-movies {
    padding: 100px 0;
}

.text-white {
    color: #fff;
}

.section-heading {
    margin-bottom: 36px;
}

h2 {
    font-size: 30px;
    line-height: 32px;
}

a {
    text-decoration: none;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card-movie {
    background: #0F0D23;
    padding: 20px 18px;
    border-radius: 16px;
}

.card-movie img {
    border-radius: 8px;
    aspect-ratio: 2/1.4;
    object-fit: cover;
    width: 100%;
}

.card-movie h3 {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
}

.card-movie p {
    color: #9CA4AB;
}

.svg-img {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.section-trending {
    padding: 100px 0 0;
}

.movie-popular-grid {
    display: flex;
    flex-wrap: nowrap;
}

.movie-popular-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 30px;
    padding-bottom: 30px;
}

.movie-popular-grid .card-movie {
    min-width: 250px;
}

.movie-popular-grid::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #111;
}

.movie-popular-grid::-webkit-scrollbar
{
	height: 8px;
	background-color: transparent;
}

.movie-popular-grid::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f8f8f8;
}